openapi: "3.0.3"
info:
  title: onecx-announcement
  version: "1.0"
servers:
  - url: https://onecx-announcement-svc:8080
tags:
  - name: Announcement
    description: Announcement Management v1 RS API
paths:
  /v1/applications/announcements/search:
    post:
      tags:
        - Announcement
      summary: Get announcements
      operationId: getAnnouncementsByCriteria
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnouncementSearchCriteria'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementPageResult'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
components:
  schemas:
    Announcement:
      type: object
      properties:
        title:
          type: string
        content:
          type: string
        type:
          $ref: '#/components/schemas/Type'
        priority:
          $ref: '#/components/schemas/Priority'
    AnnouncementPageResult:
      description: PageResult  for Announcements
      type: object
      properties:
        totalElements:
          format: int64
          type: integer
        number:
          format: int32
          type: integer
        size:
          format: int32
          type: integer
        totalPages:
          format: int64
          type: integer
        stream:
          type: array
          items:
            $ref: '#/components/schemas/Announcement'
    AnnouncementSearchCriteria:
      type: object
      properties:
        title:
          type: string
        type:
          $ref: '#/components/schemas/Type'
        priority:
          $ref: '#/components/schemas/Priority'
        status:
          $ref: '#/components/schemas/Status'
        startDateFrom:
          $ref: '#/components/schemas/OffsetDateTime'
        startDateTo:
          $ref: '#/components/schemas/OffsetDateTime'
        endDateFrom:
          $ref: '#/components/schemas/OffsetDateTime'
        endDateTo:
          $ref: '#/components/schemas/OffsetDateTime'
        appId:
          type: string
        pageNumber:
          format: int32
          description: The number of page.
          default: 0
          type: integer
        pageSize:
          format: int32
          description: The size of page
          default: 100
          type: integer
    Priority:
      enum:
        - IMPORTANT
        - NORMAL
        - LOW
      type: string
    Status:
      enum:
        - ACTIVE
        - INACTIVE
      type: string
    Type:
      enum:
        - EVENT
        - INFO
        - SYSTEM_MAINTENANCE
      type: string
    OffsetDateTime:
      format: date-time
      type: string
      example: 2022-03-10T12:15:50-04:00
    ProblemDetailResponse:
      type: object
      properties:
        errorCode:
          type: string
        detail:
          type: string
        params:
          type: array
          items:
            $ref: '#/components/schemas/ProblemDetailParam'
        invalidParams:
          type: array
          items:
            $ref: '#/components/schemas/ProblemDetailInvalidParam'
    ProblemDetailParam:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    ProblemDetailInvalidParam:
      type: object
      properties:
        name:
          type: string
        message:
          type: string